/** Colors **/
$dark: #005361;
$light: #B3B5BC;
$lighter: #F1F2F7;
$white: #fff;
$primary: #41C3A1;
$success: $primary;
$error: #DF8670;
$warning: #EFD78D;

/** Component sizes, margins, padding **/
$navbar-height: 60px;
$logo-side-padding: 20px;
$sidebar-width: 20vw;
$panel-width: 40vw;