@import './variables.scss';
@import '~@trendmicro/react-sidenav/dist/react-sidenav.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: $light;
  text-decoration: none;
}

.sidenav---sidenav---_2tBP {
  background-color: $dark;
}

.sidenav---sidenav-toggle---1KRjR {
  height: 56px;
  width: 64px;
}

::-webkit-scrollbar { 
  display: none; 
}