@import '../_variables.scss';

.navbar {
    background-color: $lighter !important;
}

a {
    color: $light !important;
}

#logo-container {
    padding-left: $logo-side-padding;
}

#logo {
    text-transform: uppercase;
    padding: 10px $logo-side-padding;
    margin-top: 8px;
    border: 1px solid $primary;
    color: $lighter;
    float: left;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: $primary;
}

.large-menu, .small-menu {
    text-align: right;
}

#sidebar {
    width: $sidebar-width;
    float: left;
    background-color: $lighter;
    height: calc(100vh - #{$navbar-height});
}

#sidebar * {
    padding: 25px;
}

#panel {
    width: $panel-width;
    background-color: $lighter;
    height: 100vh;
    float: right;
}

#panel * {
    padding: 25px;
}

#panel-illustration {
    display: flex;
    height: 60vh;
}

#panel-illustration > img {
    width: 75%;
    margin: auto;
}

#content {
    height: calc(100vh - #{$navbar-height});
    overflow-y: scroll;
}

#content-next-to-panel {
    width: calc(100vw - #{$panel-width});
    height: 100vh;
    overflow-y: scroll;
}

.MuiToolbar-gutters-48 {
    padding: 0 !important;
}

.MuiListItem-gutters {
    padding-left: 30px !important;
}

main {
    position: relative;
    // margin-left: 64px;
}

.expanded {
    margin-left: 240px;
}

.not-expanded {
    margin-left: 64px;
}


.next-to-sidebar {
    overflow-y: scroll;
    height: calc(100vh - 56px);
}

.dark > a {
    color: $light !important;
}

.light > a {
    color: $dark !important;
}

.dark {
    background-color: $dark !important;
}

.light {
    background-color: $light !important;
}